<mat-card>
  <mat-card-title id="texto">Biblioteca Virtual - Login</mat-card-title>
<form>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Usuário</mat-label>
      <input type="text" matInput placeholder="Informe o Usuário">
  </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input type="password" matInput placeholder="Informe a Senha">
  </mat-form-field>
  </div>
  
  <div class="btn">
    <button  mat-raised-button color="blue"> 
         Login
    </button>

    <button mat-raised-button color="warn"> 
        Cancelar
    </button>
  </div>

</form>

</mat-card>
